*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0db0b8;
}

header img{
    width: 50px;
}

.caixa-login{
    display: flex;
    flex-direction: column;
    background-color: #e4f2f4;
    border-radius: 20px;
    margin: 15vw;
    padding: 2vw;
    align-items: center;
    box-shadow: 20px 20px #e8e8e8;
}

.caixa-login h2{
    color: #0db0b8;
    font-size: 2rem;
    margin-bottom: 3vh;
}

.caixa-login form{
    display: flex;
    flex-direction: column;
}

.caixa-login form label{
    color: #1e686c;
    left: 0;
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
}

.caixa-login form input{
    padding: 2vh;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: #1e686c;
    width: 50vw;
}

.caixa-login form input:focus{
    outline-color: rgb(190, 190, 190);
}

.caixa-login form button{
    border: 1px solid #29787b;
    border-radius: 20px;
    background-color: #2f9194;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.4rem;
    margin: 2rem;
    width: 20vw;
    cursor: pointer;
    display: block;
    align-self: center;
}

.registro{
    display: flex;
    align-items: center;
}

.registro p{
    color: #737373;
    font-weight: bold;
}

.registro button{
    border: none;
    border-radius: 20px;
    background-color: #0cc0df;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 2rem;
    cursor: pointer;
}