*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #0db0b8;
    height: 10vh;
    text-align: center; 
    font-weight: bold;
    font-size: 1.2rem;
    padding: 2vw;
}

.image img {
    margin-top: -0vh ; 
    transform: translateY(-20px);
    height: 50px;   
  }  

main{
    font-family: Arial, sans-serif;
}

nav ul {

    list-style: none;
    display: flex;
    justify-content: center;
    height: 10vh;
    text-align: center;    
}

nav li {
    text-align: end;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}