header{
    border-bottom: 5px solid rgb(15, 167, 15);
}

main{
    flex-grow: 1;
}

.paragrafos{
    margin: 5vw;
}

.paragrafo{
    display: flex;
    align-items: center;
}

.paragrafo img{
    width: 20rem;
}

.texto{
    background-color: #f1f1f1;
    border-radius: 2rem;
    padding: 2rem;
}